@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
}

.glow-button {
  box-shadow: 0 0 10px #6200ea, 0 0 20px #6200ea, 0 0 40px #6200ea,
    0 0 80px #6200ea;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px #6200ea, 0 0 20px #6200ea, 0 0 40px #6200ea,
      0 0 80px #6200ea;
  }
  50% {
    box-shadow: 0 0 20px #6200ea, 0 0 40px #6200ea, 0 0 60px #6200ea,
      0 0 100px #6200ea;
  }
  100% {
    box-shadow: 0 0 10px #6200ea, 0 0 20px #6200ea, 0 0 40px #6200ea,
      0 0 80px #6200ea;
  }
}
